.app {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.controls {
    flex-grow: 0;
    flex-shrink: 1;
}

.controls .part {
    cursor: pointer;
    outline: 1px solid #eee;
}

.controls .part-selected {
    outline: 5px solid orange;
}

.result {
    width: 30%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.emotion {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border: 10px solid #eee;
    border-radius: 25px;
}

.selection {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.part {
    display: inline-block;
    background-image: url(parts.jpeg);
    background-position: 1000px 0;
    background-repeat: no-repeat;
}
